# .gitignore

# logging
*.log
explore/*.log
eval/*.log
eval/KSAT2023_MATH
eval/DS-1000

# Ignore .env file
.env

# Ignore all .pyc files (compiled python files)
*.pyc

# Ignore __pycache__ directories
__pycache__/

# Other common files/directories to ignore
*.log
*.swp
*.swo
*.bak
*.tmp
*.pkl
*.DS_Store
*.egg-info/
dist/
build/

# exec file for test
exec.py


memory/*
eval/human-eval
eval/human-eval/*
